/* w3 schools css*/
#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px;
    background-color: rgb(154, 211, 122);
    color: rgb(37, 37, 37); 
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  #snackbar.danger{
    background-color: rgb(214, 103, 103);
    color: white;
  }
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .hide-section {
    display: none !important;
  }

  .logout-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .logout-tab p {
    color: var(--primary-label-1);
  }

  .logout-tab img{
    padding-left: 10px;
  }